.container {
    display: grid;
    grid-template-columns: 130px 75px 50px;



}
.priorityTask {
    background-color: red;
    justify-items: center;
    text-align: center;
}

.nameTask {
    text-align: center;

}
button {
    background-color: white;
}